* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.contact-banner {
    background-color: gainsboro;
    width: 100%;

    /* add spcacing between contact details */
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #1C1564;
}

/* style the font and the color of the links */
.contact-banner a {
    color: white;
    font-family: 'Inter', sans-serif;
}

/* center the icons horizontally with the links */
.contact-banner a {
    display: flex;
    align-items: center;
    gap: 10px; /* add spacing between icon and text */
}

/* change color on hover */
.contact-banner a:hover {
    color: yellow;
}

/* hide the hamburger */
.menu-mobile {
    display: none;
}

.navigation-menu,
.nav-right-side .menu {
    display: flex;
    align-items: center;
}

.navigation-menu {
    justify-content: space-around;
    background-color: #1C1564;
    border-top: ridge 2px yellow;
}

.nav-right-side .menu {
    list-style: none;
    gap: 20px;
}

.menu a {
    text-decoration: none;
}

.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 20px;
}

.dropdown.drop {
    overflow: visible;
}

.dropdown.drop .dropdown-links {
    opacity: 1;
    z-index: 1;
    transform: translateY(80px);
}
.dropdown-links {
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    width: 200px;
    padding: 20px;
    display: flex;
    position: absolute;
    transform: translateX(100vw);
    flex-direction: column;
    gap: 10px;
    top: 20%;
    transform: translateY(-20vh);
    z-index: -1;
    /* position the links vertically */
    transition: 400ms cubic-bezier(0.23, 1, 0.320, 1);
}

.dropdown-links a {
    color: #1C1564;
    font-weight: 600;
    /* center the links */
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
}

.dropdown-links a:hover {
    background-color: #1C1564;
    color: yellow;
}

.menu-link, .menu-link-main,.dropdown-title, .dropdown {
    font-family: 'Inter', sans-serif;
    color: yellow;
}

.menu-link-main {
    color: #1C1564;
    background-color: yellow;
    padding: 10px 20px;
}

.menu-link-main:hover {
    background-color: yellow;
    color: #1C1564;
}

.bi-caret-down-fill {
    cursor: pointer;
    color: yellow;
    padding: 0;
}

/* STYING FOR MOBILE MENU NAVIGATION */
.menu-dropdown-mobile {
    background-color: #1C1564;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;

    /* center the links */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* add gap between the links */
    gap: 20px;

    /* hide the menu by default */
    transform: translateY(-100%);
    transition: 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


/* when the mobile menu has the 'open' class, show the menu */
.menu-mobile.open .menu-dropdown-mobile {
    transform: translateY(0%);
}

.menu-dropdown-mobile a {
    color: white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

/* put the icon on top of everything */
.hamburger, .logo-nav {
    position: relative;
    z-index: 999999;
}

/* RESPONSIVE NAVIGATION  FOR MOBILE*/

/* if the width of the screen is 750px or less */
@media (max-width: 750px) {
    .contact-banner {
        flex-direction: column;
        height: auto;
        gap: 5px;
        padding: 10px;
    }

    .logo-nav {
        width: 350px; /* change the size of the logo to fit mobile */
    }

    /* hide the menu for desktop */
    .nav-right-side .menu {
        display: none;
    }

    /* display the hamburger */
    .menu-mobile {
        display: block
    }

    .navigation-menu {
        padding: 10px; /* add padding on the sides of the menu*/
        justify-content: space-between; /* add space between the logo and the menu on the right side*/
    }

    
}
