*{
    margin: 0px;
    padding: 0px;
}

h1{
    padding-top: 160;
    text-align: center;
    color: #1C1564;
    font-family: Inter;
}

body{
    padding-top: 190px;
    margin: 10px;
}
h1{
    font-size: 100px;
}



.t6{
    margin: 25px 0;
    font-size: 0.6cm;
    min-width: 550px;
    text-align: left;

}
