
    *{
        margin: 0;
        padding: 0;
    }

h1{
    font-family: Inter;
    font-size:30px;
    padding-top: 150px;
    text-align: left;
    padding-bottom: 15px;
}

.main-mother{
    padding: 10px;
    font-family: Inter;
}

.sub-heading{
    text-align: center;
    padding: 20px;
    font-family: Inter;
    font-size: 20px;
    color: #1C1564;
    
}

span{
    animation: blink 2s linear infinite;
    color:goldenrod;
    
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}

body{
    padding: 10px;
    text-align: left;

}

.sub-heading2{
    padding: 10px;
    font-size: 20px;
}

.sub-heading3{
    padding: 10px;
    font-size: 20px;
}

.sub-heading4{
    padding: 10px;
    font-size: 20px;
}

.sub-heading5{
    padding: 10px;
    font-size: 20px;
}

.subheading6{
    padding: 10px;
    font-size: 20px;
}

ul{
    margin: 10px;
}