body{
    margin: 0.8px;
    padding-top: 200px;
}

h1{
    padding-top: 160;
    font-family: Inter;
    font-size: 30px;
    padding-bottom: 15px;
}

ul{
    padding-left: 20px;
}

p{
    padding-left: 8px;
}