*{
    margin: 0px;
    padding: 0px;
}

h1{
    padding-top: 110px;
    text-align: left;
    font-family: Inter;
    font-size: 100px;
    
}

body{
    padding-top: 190px;
    margin: 10px;
}
h1{
}



.t6{
    margin: 25px 0;
    font-size: 0.6cm;
    min-width: 550px;
    text-align: left;

}

.certification-title {
	background-color: blue;
}
