*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.page-content{
    padding-top: 190px;
    margin: 15px;
}
.page-title{
    text-align: center;
    background-color: yellow;
    color: blue;
    font-size: 25px;
}
.about-information{
    padding-top: 39px;
}
.sub-heading{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 20px;
    background-color: blue;
    color: yellow;
}
.about-list{
    padding-top: 20px;
    margin-left: 50px;
}