*{
    padding: 0;
    margin: 0;
}
.about{
    padding-top: 200px;
    font-family: 'Inter', sans-serif;
}
.main-header{
    text-align: center;
    font-size: 60px;
    background-color: navy;
    color: yellow;
    padding: 4px;
    margin: 8px;
}
.about-information{
    padding: 3px;
    margin: 4px;
    font-size: 25px;
}
.sub-heading{
    padding: 2px;
    margin: 10px;
}
.about-list{
    padding-left: 40px;
    margin: 10px;
    font-size: 25px;
}
.vacanies{
    text-align: center;
    font-size: 30px;
    background-color: yellow;
    color: blue;
}

@media screen and (max-width: 450px) {
    .main-header{
        font-size: 20px;
    } 
    .about-information{
        font-size: 15px;
    }
    .sub-heading{
        text-align: center;
    }
    .about-list{
        font-size: 14px;
    }
}

