*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.academic-committee-section{
    padding-top: 200px;
    margin-top: 20px;
}
.section-title{
    display: flex;
    justify-content: center;
    font-size: 100px;
    background-color: blue;
    color: yellow;
    padding: 20px;
    margin: 20px;
}
.academic-committee-container{
    padding: 20px;
}
.committee-image{
    margin-top: 50px;
    border-radius: 100px;
}
.committee-name{
    font-size: 900;
    font-family: 'Inter', sans-serif;
}
.committee-specialization{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.committee-position{
    font-family: 'Inter', sans-serif;
    font-size: 500;
}
