* {
  padding: 0;
  margin: 0;
}

body {
  /* background: #55ffe5; */
  background-color: white;
}

.container {
  width: 80%;
  margin: 50px auto;
  padding-top: 150px;
}

.contact-box {
  background: yellow;
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: #1c00b5;
  color: white;
}

h1 {
  margin-bottom: 10px;
}

.drop {
  animation: dropIn 1s ease forwards;
  transform: translateY(-150%);
}

@keyframes dropIn {
  from {
    transform: translateY(-500px);
  }

  to {
    transform: translateY(0);
  }
}

.drop-one {
  animation-delay: 100ms;
}

.drop-two {
  animation-delay: 200ms;
}

.container p {
  margin-bottom: 40px;
}

.input-row {
  /* display: flex; */
  justify-content: space-around;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
  padding-bottom: 15px;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 2px;
  padding: 10px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

button {
  background: #1c00b5;
  width: 100px;
  border: none;
  outline: none;
  color: #ccc;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  cursor: pointer;
}

.contact-left h3 {
  color: #1c00b5;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h3 {
  font-weight: 600;
  margin-bottom: 30px;
}

tr td {
  padding-right: 50px;
}

tr td {
  padding-top: 20px;
}

td,
tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 888px) {
  .contact-box {
    flex-direction: column; 
  }
}

@media (max-width: 434px) {
  tr td {
    flex-direction: column;
  }

  td,
  tr {
    display: block;
  }
}
@media (max-width: 657px){
  h1{
    padding-top: 50px;
  }
}
