.header{
    font-family: 'Inter';
    padding-left: 80px;
    font-size:80px;
    color: #ffee00;
    padding-top: 330px;
}
.info{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 500;
}
.sub-header{
    font-family: 'Inter';
    background-color: yellow;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    font-size: 56px;
    color: rgba(0, 0, 255, 0.932);
    font-family: 'Inter';
}
.table-container{
    padding: 10px;
    padding-left: 40px;
    margin: 10px;
    justify-content: center;
}
.main-table{
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
   
}

/*---------------education--------------*/

.education{
    padding-top: 20px;
    padding-left: 20px;
    margin: 5px;
}
.edu-header{
    background-color: limegreen;
    color: black;
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
}
.edu-sub-header{
    background-color: #ffee00;
    color: black;
    text-align: left;
    font-family: 'Inter';
    font-weight: 700;
}
#edu-saqa-module{
    color: wheat;
    background-color: blue;
    font-family: 'Inter';
    font-weight: 700;
}
#edu-qual-module{
    color: rgb(0, 0, 0);
    background-color: tomato;
    font-family: 'Inter';
    font-weight: 700;
}
#edu-nqf-module{
    color: rgb(0, 0, 0);
    background-color: cyan;
    font-family: 'Inter';
    font-weight: 700;
}
#edc-saqa{
    list-style: none;
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
}
#edc-qual{
    list-style: none;
    font-family: 'Inter';
    font-weight: 700;
    text-align: left;
}
#edc-saqa{
    list-style: none;
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
}

/*-------------technology page--------------*/

.IT-header{
    background-color: blue;
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
    border-top-right-radius: 10px;
}
.IT-sub-header{
    background-color: #ffee00;
    color: black;
    font-family: 'Inter';
    font-weight: 700;
    text-align: left;
}
#IT-saqa-module{
    background-color: rgb(208, 255, 0);
    color: black;
    text-align: center;
    font-family: 'Inter';
}
#IT-core-module{
    background-color: rgb(255, 210, 7);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Inter';
    font-weight: 700;
}
#IT-career-module{
    background-color: rgb(0, 13, 255);
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    font-weight: 700;
}
.IT-list{
    list-style: none;
    text-align: center;
    font-family: 'Inter';
    font-weight: 500;
}
.IT-core{
    list-style: none;
    text-align: left;
    font-family: 'Inter';
    font-weight: 500;
}
.IT-career{
    list-style: none;
    text-align: left;
    font-family: 'Inter';
    font-weight: 500;
}



/*------------------policing--------------*/

.policing{
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    margin: 5px;
}
.pol-header{
    text-align: center;
    color: gold;
    background-color: blue;
    border-top-right-radius: 10px;
    font-family: 'Inter';
    font-weight: 900;
}
.pol-sub-header{
    text-align: left;
    font-family: 'Inter';
    font-weight: 700;
    background-color: goldenrod;
    color: navy;
}
#pol-Id-module{
    background-color: aqua;
    font-family: 'Inter';
    font-weight: 700;
}
#pol-qual-module{
    font-family: 'Inter';
    background-color: blue;
    color: white;
    font-weight: 700;
}
#pol-lev-module{
    font-weight: 700;
    font-family: 'Inter';
    background-color: turquoise;

}
#pol-list{
    list-style: none;
    text-align: center;
    font-family: 'Inter';
    font-weight: 600;
}
#pol-list-qual{
    list-style: none;
    font-family: 'Inter';
    font-weight: 600;
    text-align: left;
}


/*------------culinary-----------*/

.culinary{
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    margin: 5px;
}
.cul-header{
    text-align: center;
    color: gold;
    background-color: blue;
    border-top-right-radius: 10px;
    font-family: 'Inter';
    font-weight: 900;
}
.cul-sub-header{
    text-align: left;
    color: black;
    background-color: #ffee00;
    font-family: 'Inter';
    font-weight: 400;
}
#Id-module{
    font-family: 'Inter';
    font-weight: 700;
    color: white;
    background-color: navy;
}
#Qual-module{
    font-family: 'Inter';
    font-weight: 700;
    color: black;
    background-color: gold;
}
#Lev-module{
    font-family: 'Inter';
    font-weight: 700;
    background-color: navy;
    color: white;
}
#cul-list{
    list-style: none;
    font-family: 'Inter';
    font-weight: 500;
}

/*-----------------Business------------------*/

.business{
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    margin: 5px;
}
.bus-header{
    color: white;
    background-color: rgb(7, 151, 240);
    border-top-right-radius: 20px;
    font-family: 'Inter';
    margin-top: 20px;
}
.bus-sub-header{
    text-align: left;
    font-weight: 400;
    background-color: yellow;
    color: rgb(0, 0, 0);
}
#bus-n4-module{
    background-color: rgb(21, 194, 21);
    color: black;
    font-family: 'Inter';
    font-weight: 900;
}
#bus-n5-module{
    background-color: rgb(0, 221, 255);
    color: white;
    font-family: 'Inter';
    font-weight: 900;
}
#bus-n6-module{
    background-color: gray;
    color: white;
    font-family: 'Inter';
    font-weight: 900;
}
#bus-course{
    text-align: left;
    padding-left: 15px;
}

/*-----------------Engineering--------------------*/

.eng-header{
    text-align: center;
    color: white;
    background-color: red;
    border-top-right-radius: 20px;
    font-family: 'Inter';
    margin-top: 20px;
}
.eng-sub-header{
    text-align: left;
    color: white;
    background-color: rgba(13, 5, 83, 0.671);
    font-family: 'Inter';
    margin-top: 20px;
    margin-bottom: 20px;
}
#n1-module{
    background-color: yellow;
    color: rgb(0, 0, 252);
    font-family: 'Inter';
    font-weight: 900;
}
#n2-module{
    background-color: navy;
    color: white;
    font-family: 'Inter';
    font-weight: 900;
}
#n3-module{
    background-color: gray;
    color: white;
    font-family: 'Inter';
    font-weight: 900;
}
#eng-course{
    text-align: left;
    padding-left: 15px;
}







@media screen and (max-width: 600px) {

    .education{
        padding-top: 5px;
        padding-left: 5px;
    }
    .table-container{
        display: block;
    }

    .edu-header{
        text-align: cenetr;
        color: black;
        background-color: #ffee00;
    }

    .edu-sub-header::before{
    content: "Modules";

    }
}