*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
html{
    background: url(../images/background.jpg);
    background-size: cover;
}
.infor{
    font-weight: 600;
    padding: 10px;
    margin: 3px;
}
table{
    display: flex;
    justify-content: center;
}
td{
    text-align: center;
}

/*----business---*/
.business{
    padding-top: 150px;
    font-weight: 700;
}
.bus-header{
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding: 12px;
    margin: 14px;
    font-weight: 900;
}
.bus-container{
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.bus-sub-header{
    margin-top: 20px;
    text-align: center;
    background-color: navy;
    color: white;
}
#bus-n4-module{
    background-color: navy;
    color: white;
    font-weight: 800;
}
#bus-n5-module{
    font-weight: 900;
}
#bus-n6-module{
    background-color: navy;
    color: white;
    font-weight: 900;
}
#bus-course{
    text-align: center;
    list-style: none;
}

/*-------culinary-----*/
.culinary{
    padding-top: 180px;
    font-weight: 600;
}
.cul-header{
    text-align: center;
    background: navy;
    color: white;
    font-weight: 800;
    padding: 12px;
    margin: 14px;
}
.cul-sub-header{
    text-align: center;
    background-color: blue;
    color: white;
}
.cul-container{
    padding: 20px;
}
#cul-Id-module{
    background-color: navy;
    color: white;
}
#cul-qual-module{
    background-color: yellow;
}
#cul-lev-module{
    background-color: navy;
    color: white;
}

/*----eduction-----*/
.education{
    padding-top: 150px;
    font-weight: 600;
}
.edu-header{
    display: flex;
    justify-content: center;
    background-color: yellow;
    font-weight: 800;
    padding: 12px;
    margin: 14px;
}
.edu-sub-header{
    text-align: center;
    font-weight: 900;
    background-color: rgba(0, 0, 255, 0.872);
    color: white;
    margin-top: 40px;
}
#edu-saqa-module{
    text-align: center;
    background-color: rgb(255, 251, 0);
    font-weight: 800;
}
#edu-qual-module{
    font-weight: 600;
    background-color: navy;
    color: white;
}
#edu-nqf-module{
    background-color: rgb(255, 251, 0);
}
.edu-container{
    padding: 20px;
}

/*----engineering----*/
.engineering{
    padding-top: 150px;
    font-weight: 600;
}
.eng-header{
    text-align: center;
    background-color: navy;
    color: white;
    padding: 12px;
    margin: 14px;
    margin-top: 20px;
    font-weight: 900;
}
.eng-container{
    padding: 20px;
}
.eng-sub-header{
    text-align: center;
    background-color: #1C1564;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 40px;
    margin-left: 2px;
}
.module{
    color: white;
    text-align: left;
    font-weight: 400;
    padding-left: 20px;
    background-color: blue;
}
#n1-module{
    background-color: blue;
    color: white;
    font-weight: 700;
}
#n2-module{
    background-color: yellow;
    font-weight: 600;
}
#n3-module{
    background-color: blue;
    font-weight: 600;
    color: white;
}
#n4-module{
    background-color: blue;
    color: white;
    font-weight: 900;
}
#n5-module{
    background-color: yellow;
    font-weight: 700;
}
#n6-module{
    background-color: blue;
    color: white;
}
#eng-course{
    list-style: none;
    text-align: center;
}

/*----policing----*/
.policing{
    padding-top: 150px;
    font-weight: 700;
}
.pol-header{
    display: flex;
    justify-content: center;
    padding: 12px;
    margin: 14px;
    font-weight: 900;
    background-color: blue;
    color: white;
}
.pol-container{
    padding: 20px;
}
.pol-sub-header{
    text-align: center;
    font-weight: 500;
    padding: 10px;
    margin-top: 20px;
    background-color: #1C1564;
    color: white;
}
#pol-Id-module{
    background-color: blue;
    color: white;
    font-weight: 700;
}
#pol-qual-module{
    background-color: yellow;
    font-weight: 700;
}
#pol-lev-module{
    background-color: blue;
    color: white;
    font-weight: 600;
}

/*----Short courese----*/
.short{
    padding-top: 150px;
    font-weight: 600;
}
.short-header{
    display: flex;
    justify-content: center;
    background-color: yellow;
    font-weight: 900;
    padding: 12px;
    margin: 14px;
}
.short-sub-header{
    text-align: center;
    background-color: yellow;
    font-weight: 900;
    margin-top: 25px;
}
.info{
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: 700;
}
.short-container{
    padding: 20px;
}
#document{
    background-color: #1C1564;
    color: white;
    font-weight: 600;
}
#core-module{
    background-color: yellow;
    font-weight: 600;
}
#duration{
    background-color: #1C1564;
    color: white;
    font-weight: 600;
}

/*----technology-----*/
.technology{
    padding-top: 150px;
    font-weight: 700;
}
.tech-header{
    background-color: navy;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 800;
    padding: 12px;
    margin: 14px;
}
.tech-container{
    padding: 20px;
}
.tech-sub-header{
    text-align: center;
    background-color: blue;
    color: white;
    margin-top: 50px;
}
.level{
    text-align: left;
    background-color: yellow;
    color: black;
    padding-left: 20px;
    font-weight: 900;
}
#SAQA-module{
    background-color: navy;
    text-align: center;
    color: white;
    font-weight: 800;
}
#Career-module{
    background-color: navy;
    color: azure;
    font-weight: 900;
}
#Core-module{
    background: yellow;
    font-weight: 900;
}

@media screen and (max-width: 100px) {
    .business{
        padding-top: 210px;
    }    
    .bus-header{
        font-weight: 100;
    }
    .bus-container{
        padding: 100px;
    }
    .bus-container{
        margin: auto;
        font-size: 12px;
    }
    .culinary{
        padding-top: 210px;
    }
    .cul-header{
        font-weight: 100;
    }
    .education{
        padding-top: 250px;
    }
    .edu-heade{
        text-align: center;
        font-weight: 100;
        font-size: 15px;
    }
    .engineering{
        padding-top: 210px;
    }
    .eng-container{
        font-size: 15px;
    }
    .policing{
        padding-top: 260px;
    }
    .short{
        padding-top: 250px;
    }
    .info{
        font-size: 12px;
    }
    .technology{
        padding-top: 250px;
    }
    .tech-header{
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .business{
        padding-top: 190px;
    }
    .bus-header{
        font-weight: 100;
    }
    .bus-container{
        margin: auto;
        font-size: 12px;
    }
    .culinary{
        padding-top: 190px;
    }
    .cul-header{
        font-weight: 100;
    }
    .education{
        padding-top: 250px;
    }
    .edu-heade{
        text-align: center;
        font-weight: 100;
        font-size: 15px;
    }
    .engineering{
        padding-top: 190px;
    }
    .eng-container{
        font-size: 15px;
    }
    .policing{
        padding-top: 260px;
    }
    .short{
        padding-top: 250px;
    }
    .info{
        font-size: 12px;
    }
    .technology{
        padding-top: 250px;
    }
    .tech-header{
        text-align: center;
    }
}

@media screen and (max-width: 680px) {
    .business{
        padding-top: 30px;
    }
    .bus-header{
        font-weight: 100;
    }
    .bus-container{
        margin: auto;
        font-size: 12px;
    }
    .culinary{
        padding-top: 230px;
    }
    .cul-header{
        font-weight: 100;
    }
    .education{
        padding-top: 250px;
    }
    .edu-heade{
        text-align: center;
        font-weight: 100;
        font-size: 15px;
    }
    .engineering{
        padding-top: 230px;
    }
    .eng-container{
        font-size: 15px;
    }
    .policing{
        padding-top: 260px;
    }
    .short{
        padding-top: 250px;
    }
    .info{
        font-size: 12px;
    }
    .technology{
        padding-top: 250px;
    }
    .tech-header{
        text-align: center;
    }
    .tech-container{
        font-size: 15px;
    }
    
}

@media screen and (max-width: 780px) {
    .business{
        padding-top: 280px;
    }
    .bus-header{
        font-weight: 100;
    }
    .culinary{
        padding-top: 280px;
    }
    .cul-header{
        font-weight: 100;
    }
    .education{
        padding-top: 250px;
    }
    .edu-heade{
        text-align: center;
        font-weight: 100;
        font-size: 15px;
    }
    .engineering{
        padding-top: 280px;
    }
    .eng-container{
        font-size: 15px;
    }
    .policing{
        padding-top: 260px;
    }
    .short{
        padding-top: 250px;
    }
    .info{
        font-size: 12px;
    }
    .technology{
        padding-top: 250px;
    }
    .tech-header{
        text-align: center;
    }
}

@media screen and (max-width: 825px) {
    .business{
        padding-top: 260px;
    }
    .bus-header{
        font-weight: 100;
    }
    .bus-container{
        margin: auto;
        font-size: 12px;
    }
    .culinary{
        padding-top: 240px;
    }
    .cul-header{
        font-weight: 100;
    }
    .education{
        padding-top: 250px;
    }
    .edu-header{
        text-align: center;
        font-weight: 100;
        font-size: 15px;
    }
    .engineering{
        padding-top: 260px;
    }
    .eng-container{
        font-size: 15px;
    }
    .policing{
        padding-top: 260px;
    }
    .short{
        padding-top: 250px;
    }
    .info{
        font-size: 12px;
    }
    .technology{
        padding-top: 250px;
    }
    .tech-header{
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .business{
        padding-top: 250px;
    }
    .bus-header{
        font-weight: 100;
    }
    .bus-container{
        margin: auto;
        font-size: 12px;
    }
    .culinary{
        padding-top: 240px;
    }
    .cul-header{
        font-weight: 100;
    }
    .education{
        padding-top: 250px;
    }
    .edu-header{
        text-align: center;
        font-weight: 100;
        font-size: 15px;
    }
    .engineering{
        padding-top: 250px;
    }
    .eng-container{
        font-size: 15px;
    }
    .policing{
        padding-top: 250px;
    }
    .short{
        padding-top: 250px;
    }
    .info{
        font-size: 12px;
    }
    .technology{
        padding-top: 250px;
    }
    .tech-header{
        text-align: center;
    }
   
}

/*-----button section-----*/    

.hero-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
}

.hero-btns button {
    padding: 10px 20px;
    border: solid 4px transparent;
    font-family: 'Inter', sans-serif;
}

.hero-btns .primary-hero-btn {
    cursor: pointer;
    background-color: yellow;
    font-weight: 900;
}

.hero-btns .secondary-hero-btn {
    background-color: transparent;
    font-weight: 900;
    border-color: yellow;
    color: black;
}

.hero-btns .primary-hero-btn:hover{
    background-color: blue;
    color: white;
}

.hero-btns .secondary-hero-btn:hover{
    border-color: blue;
    background-color: white;
}
