footer {
    background-color: #1C1564;
    font-family: 'Inter', sans-serif;
    padding: 20px;
    border-top: double 2px yellow;
    margin-top: 20px;
    font-size: large;
}

footer .footer-menus {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

footer .footer-menu { 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-menu-links {
    list-style: none;
    color: yellow;
    display: flex;
    flex-direction: column;
    
}

.footer-menu-title {
    color: yellow;
}

footer .footer-menu-links a {
    text-decoration: none;
    color: yellow;
}

footer .footer-menu-links a:hover {
    text-decoration: underline;
}


footer .attribution {
    display: block;
    text-align: center;
    color: gainsboro;
    padding-top: 50px;
}

footer .attribution .twp {
    color: yellow;
}

/*responsive*/

@media(max-width: 500px){
    .footer-menus{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
