* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  text-align: center;
  margin-top: 250px;
}

.trip-input {
  display: none;
}

.page-title {
  font-size: 35px;
  position: relative;
  margin: 30px 0;
}

.page-title::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 3px;
  background-color: #1C1564;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 2s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes animate {
  0% {
    width: 100px;
  }

  50% {
    width: 250px;
  }

  100% {
    width: 300px;
  }
}
.dropdown-icon, .current-value {
  display: none !important;
}

.trip-titles-container {
  background-color: rgb(242, 238, 238);
  width: 90%;
  margin: 0 auto 20px auto;
  height: 100px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: 150ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.gallery-main-title {
  height: 100%;
  background-color: lightgrey;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip-title {
  display: inline-block;
  height: 100%;
  padding: 10px;
  width: 100%;
  /*this margin should be removed when I add more trips went to  */
  /* this padding open the gap between the labels */
  color: #1C1564;
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip-title:hover {
  background-color: yellow;
}

.image-gallery {
  /* here the entire structure  was structured into a column/grid */
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}

.pic {
  height: 220px;
  cursor: pointer;
  display: none;
  /* hide all pics by default*/
}

.pic img {
  /* This is were all images were resize to the small radius square you see */
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  /* object-fit: cover; */
  transition: 200ms cubic-bezier(0.215, 0.610, 0.355, 1);
  border-radius: 20px;
}

/* highlight the selected trip */
#check_0:checked~.container .trip-title:nth-of-type(2),
#check_1:checked~.container .trip-title:nth-of-type(3),
#check_2:checked~.container .trip-title:nth-of-type(4),
#check_3:checked~.container .trip-title:nth-of-type(5),
#check_4:checked~.container .trip-title:nth-of-type(6),
#check_5:checked~.container .trip-title:nth-of-type(7) {
  /* background-color: yellow; */
  font-weight: bold;
}

/* Now im linking the images to their page when pressed using radio buttons */
/* when clicked all the images will display */

/*if the first checkbox is checked, show every trip */
#check_0:checked~.container .image-gallery .pic {
  display: block;
}

/* if the second checkbox is checked, show cape town trips */
#check_1:checked~.container .image-gallery .CapeTown {
  display: block;
}

/* if the third checkbox is checked, show 'nambia' trips */
#check_2:checked~.container .image-gallery .Namibia {
  display: block;
}

/* if the fourth checkbox is checked, show 'Marketing' trips */
#check_3:checked ~ .container .image-gallery .Durban {
  display: block;
}

/* if the fifth checkbox is checked, show durban trips */
#check_4:checked ~ .container .image-gallery .Marketing {
  display: block;
}

/* if the sixth checkbox is checked, show graduation trips */
#check_5:checked~.container .image-gallery .Graduation {
  display: block;
}

/* compatibilty with smaller devices betwem the range of 162px to 834px */
@media (max-width: 934px) and (min-width: 162px){
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding-top:20px ;
  }

  .trip-titles-container{
    height: 40px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  label{
    display: none;
  }
  
  .trip-titles-container.drop {
    height: 100%;
  }
  
  .dropdown-icon, .current-value {
    display: block !important;
  }

  .dropdown-icon {
    cursor: pointer;
    padding: 10px 20px;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-1%, -1%);
  }
}