body {
    overflow-x: hidden;
}

section.courses,
section.accreditations {
    padding: 20px;
}

section.accreditations {
    padding: 80px 20px 80px 20px;
}

.hero-section {
    background-color: red;
    border: purple;
    width: 100%;
    height: 100vh;
    /* transform: translateY(20px); */
    background-position: center;

    /* center content */
    display: flex;
    justify-content: center;
    align-items: center;

    /* ovoid the slideshow images from being bleeding out of the hero section */
    position: relative;
    overflow: hidden;
}

/* slideshow feature */
.slideshow-image {
    position: absolute;
    left: 0;
    width: 100%;
    height: inherit;
    object-fit: cover;
    top: 0;
    filter: saturate(1);
    transition: linear 400ms;
    opacity: 1;
}

/* change opacity */
.slideshow-image.fade {
    opacity: 0;
}

/* THE OVERLAY */
.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.hero-title {
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    color: #fff;
    overflow-y: hidden;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 20;
}

.text-slider-track {
    color: yellow;
    position: relative;
    height: 60px;
    display: block;
    overflow-y: hidden;
}

.slider {
    height: 60px;
    animation: text-slider-animation cubic-bezier(0.77, 0, 0.175, 1) 5s infinite;
    display: flex;
    flex-direction: column;
    transform: translateY(0);
}

/* courses section */
.section-title {
    font-family: 'Inter';
    font-size: 32px;
    padding-bottom: 20px;
    text-align: center;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.course {
    overflow: hidden;
}

.courses-container .course {
    background-color: gainsboro;
    height: 200px;

    /* center the content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Inter', sans-serif;
    padding: 20px;
    
    background-size: cover;
    color: white;

    background-size: 100%;
    background-position: center;
    transition: 250ms linear;
}

.course-content {
    background-color: rgba(0, 0, 0, 0.526);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    transition: 300ms ease-in-out;
    transform: translateY(200%);
}

.course-title,
.course-summary {
    text-align: center;
}

.course.one {
    background-image: url("https://jeppecollege.co.za/sites/default/files/styles/gallery_thumb/public/Gallery/DSC_0912_0.JPG");
}

.course.two {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/computer-board_VEZBQZBINB.jpg");
}

.course.three {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/file%20folders-business_6RHKEELJ8F.jpg");
}

.course.four {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/restaurant-kitchen_0HCMIT272C.jpg");
}

.course.five {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/stacked-books_DGF2LFZ6JJ.jpg");
}

.course:hover {
    background-size: 110%;
}

/* when the course card is hovered, show the content */
.course:hover .course-content {
    transform: translateY(0%);
}

/* animation keyframes for text slider animation */
@keyframes text-slider-animation {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-80px);
    }

    50% {
        transform: translateY(-140px);

    }

    75% {
        transform: translateY(-80px);
    }

}

.marquee-left {
    filter: grayscale(1);
    display: flex;
    align-items: center;
    animation: marquee-left 60s linear infinite forwards;
}

.marquee-right {
    filter: grayscale(1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    animation: marquee-right 60s linear infinite forwards;
}

/* animation keyframes for the marquue effect */
@keyframes marquee-left {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee-right {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

/* make the courses card responsive */
@media screen and (max-width: 450px) {
    .courses-container {
        display: flex;
        flex-direction: column;
    }
}