*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.section-student{
    padding-top: 160px;
    margin: 10px;
}
.header{
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: yellow;
    color: blue;
}
.sub-header{
    padding: 10px;
    margin: 10px;
}